.pl {

	&-container {
		background-color: black;
		position: relative;
		width: 100%;
		min-height: 100%;
		padding: 5px;
		box-sizing: border-box;

		&-wrap {
			position: absolute;
			top: 5px;
			bottom: 41px;
			left: 5px;
			right: 5px;
			padding-right: 5px;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				width: 21px;
				border: 1px solid #161a23;
				background-color: rgba(0, 0, 0, 0.1);
			}
			&::-webkit-scrollbar-thumb { 
				background-color: #faf793;
				border: 5px solid #bfbf3b;
			}
		}
	}

	&-table {
		display: table;
		table-layout: fixed;
		width: 100%;
		font-size: 12px;
		color: #00FF00;

		&-row {
			display: table-row;
			height: 15px;
			line-height: 15px;

			&.current {
				color: white;
			}

			&.selected {
				background-color: blue;
			}
		}

		&-cell {
			display: table-cell;
			text-align: right;

			&-count {
				white-space: pre;
			}
		}

		&-cell-1 {
			@extend .pl-table-cell;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0 5px;
		}

		&-cell-2 {
			@extend .pl-table-cell;
			width: 50px;
		}
	}

	&-controls {
		position: absolute;
		height: 21px;
		bottom: 5px;
		left: 5px;
		right: 5px;
		padding: 7px 0;
	}

}

