<!DOCTYPE html>
<html lang="en-us" ng-app="amplitude" ng-controller="AmplitudeController">
<head>
    <meta charset="utf-8">
    <title>Amplitude</title>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
    <section id="amplitude" class="section active" ng-controller="MainController">
        
        <div class="section-header">
        
            <div class="inline section-header-logo">&#9776;</div>
            
            <div class="inline section-header-spacer section-header-spacer-amplitude"></div>
            
            <div class="inline section-header-title" ng-bind="config.title"></div>
            
            <div class="inline section-header-spacer section-header-spacer-amplitude"></div>
           
            <div id="h-minimize" class="inline section-header-icon section-header-minimize"></div>
            
            <div class="inline section-header-icon section-header-windowshade"></div>
            
            <div id="h-close" class="inline section-header-icon section-header-close">
                <div class="cross cross1"></div>
                <div class="cross cross2"></div>
            </div>
            
        </div>
        
        <div class="section-content">
        
            <canvas display-panel ng-model="displayPanel" class="fft-canvas" width="153" height="63"></canvas>
            
            <div scrolling-text ng-model="scrollingText" class="inline label scrolling-label"></div>
            
            <div ng-bind="kbps" class="inline label kbps-label"></div>
            
            <div class="inline text">kbps</div>
            
            <div ng-bind="khz" class="inline label khz-label"></div>
            
            <div class="inline text">kHz</div>
            
            <div class="inline khz-spacer"></div>
            
            <div class="inline mono-label" ng-class="{active : channels === 1}">mono</div>
            
            <div class="inline stereo-label" ng-class="{active : channels > 1}">stereo</div>
           
            <div id="volume-slider" class="inline" style="width: 121px; height: 20px;"></div>
            
            <div id="pan-slider" class="inline pan-slider" style="width: 76px; height: 20px;"></div>
            
            <div class="inline button switch off mtop first disabled"><span class="inline"></span><span class="inline">eq</span></div>
            
            <div class="inline button switch off mtop disabled"><span class="inline"></span><span class="inline">pl</span></div>
            
            <div class="clearfix"></div>
            
            <div id="range-slider" class="range-slider" style="width:  442px; height: 22px;"></div>
            
            <div class="buttons">
            
                <div class="inline button prev disabled">
                    <span class="line"></span>
                    <span class="left-arrow"></span>
                </div>
                
                <div ng-click="play()" class="inline button play">
                    <span class="right-arrow"></span>
                </div>
                
                <div ng-click="pause()" class="inline button pause">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                
                <div ng-click="stop()" class="inline button stop">
                    <span class="square"></span>
                </div>
                
                <div class="inline button next disabled">
                    <span class="right-arrow"></span>
                    <span class="line"></span>
                </div>
                
                <div class="inline button open">
                    <span class="up-arrow"></span>
                    <span class="line"></span>
                    <input open-file ng-model="openFile" type="file" id="open" accept="audio/mp3"/>
                </div>
            
                <div class="inline button switch mtop off disabled"><span class="inline"></span><span class="inline">shuffle</span></div>

                <div id="sw-repeat" class="inline button switch mtop off"><span class="inline"></span><span class="inline" style="margin-top: 1px; margin-bottom: -1px">&#8635;</span></div>
            
                <a ng-href="{{config.homepage}}" class="inline" target="_blank"><img id="logo" class="logo" src="images/logo.svg"/></a>
            </div>
            
        </div>
    </section>
</body>
</html>