<!DOCTYPE html>
<html lang="en-us" ng-app="amplitude">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <section class="section" ng-class="{active: active}" ng-controller="MainController">
        
        <div class="section-header">
            <div class="section-header-wrap">

                <div class="section-header-cell">
                    <div class="section-header-menu"></div>
                </div>

                <div class="section-header-spacer"></div>

                <div class="section-header-cell">                
                    <div class="section-header-title"></div>
                </div>

                <div class="section-header-spacer"></div>
               
                <div class="section-header-cell">
                    <div ng-click="minimize()" class="section-header-minimize"></div>
                    <div class="section-header-windowshade"></div>
                    <div ng-click="close()" class="section-header-close"></div>
                </div>

            </div>
        </div>
        
        <div class="section-content">
        
            <canvas ng-click="toggleWindow('visual')" display-panel ng-model="displayPanel" class="fft-canvas" width="153" height="63"></canvas>
            
            <div scrolling-text ng-model="scrollingText" class="scrolling-text"></div>
            
            <div ng-bind="kbps" class="kbps-label"></div>
            
            <div class="text">kbps</div>
            
            <div ng-bind="khz" class="khz-label"></div>
            
            <div class="text">kHz</div>
            
            <div class="khz-spacer"></div>
            
            <div class="mono-label" ng-class="{active : channels === 1}">mono</div>

            <div class="stereo-label" ng-class="{active : channels > 1}">stereo</div>
           
            <slider ng-model="volumeSlider" class="volume-slider"></slider>
            
            <slider ng-model="panSlider" class="pan-slider"></slider>
            
            <div class="switch first disabled"><span></span><span class="inline">eq</span></div>
            
            <div class="switch" ng-click="toggleWindow('pl')" ng-class="{active: isOpen('pl')}"><span></span><span class="inline">pl</span></div>
            
            <slider ng-model="durationSlider" class="duration-slider"></slider>
            
            <div class="buttons">
            
                <div ng-click="prev()" class="prev-button">
                    <span class="line"></span>
                    <span class="left-arrow"></span>
                </div>
                
                <div ng-click="play()" class="play-button">
                    <span class="right-arrow"></span>
                </div>
                
                <div ng-click="pause()" class="pause-button">
                    <span class="line1"></span>
                    <span class="line2"></span>
                </div>
                
                <div ng-click="stop()" class="stop-button">
                    <span class="square"></span>
                </div>
                
                <div ng-click="next()" class="next-button">
                    <span class="right-arrow"></span>
                    <span class="line"></span>
                </div>
                
                <div class="open-button" ng-click="openFile()">
                    <span class="up-arrow"></span>
                    <span class="line"></span>
                </div>
            
                <div class="switch disabled"><span></span><span>shuffle</span></div>

                <div ng-click="toggleRepeat()" class="switch" ng-class="{active: repeat}"><span></span><span>&#8635;</span></div>
            
                <a ng-href="{{config.homepage}}" target="_blank"><div class="logo"></div></a>
            </div>
        </div>
    </section>
</body>
</html>